################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EncryptionAtRest/bin
/EncryptionAtRest/obj
/EncryptionAtRest.Tests/bin
/EncryptionAtRest.Tests/obj
